body {
    background-image: url("https://images2.alphacoders.com/941/thumb-1920-941898.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: left;
    font-family: cursive;
    font-style: italic;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border: solid rgb(31, 118, 231);

}

.avatar {
    width: 180px;
    border-radius: 50%;
    border: 3px solid rgb(31, 118, 231);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.avatar:hover {
    transform: scale(1.1);
}

.btn {
    display: block;
    background-image: linear-gradient(rgba(108, 231, 31, 0.5));
    color: white;
    padding: 15px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(3, 169, 244, 0.5); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #0f3460;
    transform: scale(1.02);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
}

.area-contato {
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 20px;
}

.btn-msg {
    display: inline-block;
    background-image: linear-gradient(rgba(240, 250, 255, 0.5));
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-msg:hover {
    background-color: #2ec0ff;
    transform: scale(1.1);
}

.btn-voltar{
    display: inline-block;
    background-image: linear-gradient(rgba(240, 250, 255, 0.5));
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.enviar{
    display: inline-block;
    background-image: linear-gradient(rgba(108, 231, 31, 0.5));
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-voltar:hover{
    background-color: #2ec0ff;
    transform: scale(1.1);
}

.enviar:hover{
    background-color: #2ec0ff;
    transform: scale(1.1);
}

.campo-texto{
    display: inline-block;
    background-image: linear-gradient(rgba(240, 250, 255, 0.5));
    color: white;
    padding: 9px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}